.course-details{
    width:90%;
    margin:60px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.course-image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.course-badge{
    background:#f4b400;
    color:#002147;
    padding:8px 18px;
    border-radius:30px;
    font-weight:bold;
}

.course-info h1{
    margin:20px 0;
    font-size:42px;
    color:#002147;
}

.course-text{
    color:#555;
    line-height:1.8;
    margin-bottom:30px;
}

.info-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-bottom:35px;
}

.info-box{
    background:#f8f9fc;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.info-box h3{
    color:#002147;
    margin-bottom:10px;
}

.course-info h2{
    color:#002147;
    margin-bottom:15px;
}

.course-info ul{
    margin-left:20px;
    margin-bottom:30px;
}

.course-info li{
    margin-bottom:12px;
    color:#444;
}

.enroll-btn{
    padding:15px 40px;
    border:none;
    background:#002147;
    color:white;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.enroll-btn:hover{
    background:#f4b400;
    color:#002147;
}

@media(max-width:900px){

.course-details{
grid-template-columns:1fr;
}

.course-info h1{
font-size:32px;
}

.info-grid{
grid-template-columns:1fr;
}

}