@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#F8FAFC;
}

:root{
    --primary:#0A2E73;
    --secondary:#F4B400;
    --white:#ffffff;
    --dark:#1E293B;
}
html,
body{
    overflow-x:hidden;
    width:100%;
}